;/**************************************************************************/
; TX68 Ubuntu PhoenixSuit image
; Keep Allwinner maintype/subtype values unchanged.
;/**************************************************************************/

[MAIN_TYPE]
ITEM_COMMON         = "COMMON  "
ITEM_FES            = "FES     "
ITEM_BOOT           = "BOOT    "

[DIR_DEF]
INPUT_DIR = "./"

[FILELIST]
    {filename = "sys_config.fex",   maintype = ITEM_COMMON, subtype = "SYS_CONFIG100000",},
    {filename = "board.fex",        maintype = ITEM_COMMON, subtype = "BOARD_CONFIG_BIN",},
    {filename = "config.fex",       maintype = ITEM_COMMON, subtype = "SYS_CONFIG_BIN00",},
    {filename = "split_xxxx.fex",   maintype = ITEM_COMMON, subtype = "SPLIT_0000000000",},
    {filename = "sys_partition.fex",maintype = ITEM_COMMON, subtype = "SYS_CONFIG000000",},
    {filename = "sunxi.fex",        maintype = ITEM_COMMON, subtype = "DTB_CONFIG000000",},

    {filename = "boot0_nand.fex",   maintype = ITEM_BOOT,  subtype = "BOOT0_0000000000",},
    {filename = "boot0_sdcard.fex", maintype = "12345678", subtype = "1234567890BOOT_0",},
    {filename = "u-boot.fex",       maintype = "12345678", subtype = "UBOOT_0000000000",},
    {filename = "u-boot-crash.fex", maintype = "12345678", subtype = "UBOOT_CRASH_0000",},
    {filename = "toc1.fex",         maintype = "12345678", subtype = "TOC1_00000000000",},
    {filename = "toc0.fex",         maintype = "12345678", subtype = "TOC0_00000000000",},
    {filename = "fes1.fex",         maintype = ITEM_FES,   subtype = "FES_1-0000000000",},
    {filename = "boot_package.fex", maintype = "12345678", subtype = "BOOTPKG-00000000",},

    {filename = "usbtool.fex",       maintype = "PXTOOLSB", subtype = "xxxxxxxxxxxxxxxx",},
    {filename = "usbtool_crash.fex", maintype = "PXTOOLCH", subtype = "xxxxxxxxxxxxxxxx",},
    {filename = "aultools.fex",      maintype = "UPFLYTLS", subtype = "xxxxxxxxxxxxxxxx",},
    {filename = "aultls32.fex",      maintype = "UPFLTL32", subtype = "xxxxxxxxxxxxxxxx",},

    {filename = "cardtool.fex",    maintype = "12345678", subtype = "1234567890cardtl",},
    {filename = "cardscript.fex",  maintype = "12345678", subtype = "1234567890script",},
    {filename = "sunxi_gpt.fex",   maintype = "12345678", subtype = "1234567890___GPT",},
    {filename = "sunxi_mbr.fex",   maintype = "12345678", subtype = "1234567890___MBR",},
    {filename = "dlinfo.fex",      maintype = "12345678", subtype = "1234567890DLINFO",},

[IMAGE_CFG]
version = 0x100234
pid = 0x00001234
vid = 0x00008743
hardwareid = 0x100
firmwareid = 0x100
bootromconfig = "bootrom_071203_00001234.cfg"
rootfsconfig = "rootfs.cfg"
filelist = FILELIST
encrypt = 0
imagename = TX68_PHOENIX_OUTPUT.img
